<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <h2 style="font-family: 'Chivo', sans-serif;">Login</h2>
    <br>
    <form (ngSubmit)="onSignin(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">Mail</label>
        <input 
          type="email"
          id="email"
          name="email"
          ngModel
          class="form-control"
          required
          email
          #email="ngModel">
      </div>
      <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid mail</span>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          ngModel
          class="form-control"
          required
          password
          #password="ngModel">
      </div>
      <span class="help-block" *ngIf="!password.valid && password.touched">*minimum 6 chars</span>
      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Sign In</button>
      <br>
      <span class="help-block" *ngIf="!f.valid && f.touched">Enter valid data</span>
    </form>
  </div>
</div>

